*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 40px;
  }
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
