$mobile_small: 320px;
$mobile_middle: 475px;
$mobile: 575px;

$tablet_small: 768px;
$tablet: 992px;

$desktop_extra_small: 1024px;
$desktop_small: 1140px;
$desktop_base: 1280px;
$desktop: 1366px;
$desktop_medium: 1440px;
$desktop_large: 1600px;
$desktop_huge: 1800px;
